$base-color: #24273d;
$ligther-base-color: #343952;
$primary-light: white;
$border-dark: rgba($base-color, 0.88);
$mobile: 799px;
$tablet: 800px;
$desktop: 1200px;
$widescreen: 1400px;
$shadow-color: -5px 5px 15px 5px rgba(0, 0, 0, 0.5);