$card-height: 200px;
$card-width: 350px;
$transition-time: 1s;

.card-container {
  display: flex;
  justify-content: space-evenly;
  height: $card-height;
  flex-wrap: wrap;
  margin: 10px 0px;
  background-color: $ligther-base-color;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.4990371148459384) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: $shadow-color;
  box-shadow: $shadow-color;

  .overlay {
    top: 0;
    left: 0;
    height: $card-height;
    width: $card-width;
    position: absolute;
    z-index: 10;
    opacity: 1;
    transform: translateX(0);
    transition: all $transition-time;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.4990371148459384) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .overlay.overlay-hovered {
    transform: translateX(50);
    opacity: 0;
  }

  .card {
    width: $card-width;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    // margin: 5px;
    padding: 5px;
    border-radius: 4px;

    &-img {
      display: block;
      width: 200px;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      transform: scale(1);
      transition: all $transition-time * 6;
    }

    .card-img.img-hovered {
      transform: scale(1.03);
      // transform: translateX(-10px);
    }

    &-menu {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 10px;
      margin-right: 10px;
      width: 10px;
      height: 10px;
      line-height: 10px;
      text-align: center;
      vertical-align: middle;
      font-size: 40px;
      font-weight: bolder;
    }

    &-description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      position: absolute;
      width: 40%;
      right: 0;
      top: 0;
      z-index: 40;
      &-title {
        top: 0;
        right: 0;
        width: 100%;
        text-align: left;
        font-weight: normal;
        font-size: 25px;
        color: $primary-light;
      }
      &-button {
        border: 0px;
        padding: 5px;
        background-color: blue;
        width: 150px;
        right: 0;
        border-radius: 2px;
        color: white;
        transform: translateX(150px);
        transition: all 0.5s;
      }

      &-button.button-hovered {
        transform: translateX(0px);
        transition: all 0.5s;
      }
    }
  }
}
