.main {
  &-title {
    text-align: center;
    color: rgb(209, 209, 209);
  }

  &-button {
    padding: 10px;
    border: none;
    background-color: $ligther-base-color;
    height: fit-content;
    width: fit-content;
  }
}

.button {
  background-color: rgba($color: #000000, $alpha: 0.3);
  border-radius: 50%;
  border: none;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-prev {
    transform: rotate(180deg);
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 500;
  }

  &-next {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 500;
  }

  @include mobile-only {
    &-next {
      position: fixed;
      top: unset;
      right: 10px;
      bottom: 10px;
      background-color: rgba(255, 255, 255, 0.426);
    }
    &-prev {
      position: fixed;
      top: unset;
      left: 10px;
      bottom: 10px;
      background-color: rgba(255, 255, 255, 0.426);
    }
  }
}

.flag {
  max-width: 50px;
  height: 200px;
}
