.container {
  display: flex;
  background-color: $base-color;
  justify-content: center;
  flex-flow: wrap;
  max-width: 90vw;
  margin: auto;
  position: relative;


  &.row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $ligther-base-color;
  }
}

	@include desktop-only{
		.container{
			margin-right: 16px;
		}
	}